<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>班级管理</title>
	<link href="/resources/jquery-easyui-1.5.2/themes/default/easyui.css" rel="stylesheet">
    <link href="/resources/jquery-easyui-1.5.2/themes/icon.css" rel="stylesheet">
    
    <link href="/resources/themes/icons.css" rel="stylesheet">
	<link href="/resources/themes/site.css" rel="stylesheet">

    <script src="/resources/jquery-easyui-1.5.2/jquery.min.js"></script>
    <script src="/resources/jquery-easyui-1.5.2/jquery.easyui.min.js"></script>
	<script src="/resources/jquery-easyui-1.5.2/locale/easyui-lang-zh_CN.js"></script>
	
	<script src="/resources/sms/msgbox.js"></script>
	<script src="/resources/sms/date.js"></script>
	<script src="/resources/sms/data.js"></script>
</head>
<body class="easyui-layout">
	<!-- 工具栏 -->
    <div data-options="region:'north',border:true,title:''">
        <div style="padding:2px;float:left;height:26px;">
            <a href="javascript:void(0)" id="addClass" class="easyui-linkbutton" iconCls="icon-add"  onclick="addUser();">添加班级</a>
            <a href="javascript:void(0)" id="deleteClass" class="easyui-linkbutton" iconCls="icon-cancel"  onclick="deleteUser();">删除班级</a>
            <a href="javascript:void(0)" id="editClass" class="easyui-linkbutton" iconCls="icon-edit"  onclick="editUser();">修改班级</a>
        	<a href="javascript:void(0)" id="detailClass" class="easyui-linkbutton" iconCls="icon-details"  onclick="detailUser();">查看班级</a>
        </div>
    </div>
    
    <!-- 数据面板 -->
    <div data-options="region:'center',border:true,fit:false" style="padding-right:5px;">
        <table id='ClassInfo' style='width:100%;'>
        	<thead>
        		<tr>
        			<th field='id' hidden='true'>ID</th>
        			<th data-options="field:'ck',checkbox:true"></th>
        			<th field='classname' >班级名称</th>
        		</tr>
        	</thead>
        </table>
    </div>
    
     <!-- 查询面板 -->
    <div data-options="region:'east',collapsed:true,split:true,title:'查询面板'" style="width:380px;">

    </div>
    
<script type="text/javascript">
	function addClass(){
		// id=0没有意义，只是防止showWindow方法在末尾添加/
		var url = '/views/klass/add.html?id=0';
		showWindow('添加用户', url,'icon-add', 'ClassInfo','datagrid',false);
	}
	function deleteClass() {
		var row = $('#ClassInfo').datagrid('getSelected');
		if (row != null) {
			$.messager.confirm('提示', '删除之后不可恢复，您确定要删除吗？', function (r) {
				if (r) {
					$.post("/classinfo/delete.do", { "id": row.id },function (data) {
						var data = eval('(' + data + ')');
						if (data.success) {
							window.top.showInfo(data.message);
							$('#ClassInfo').datagrid('reload');
							$('#ClassInfo').datagrid('uncheckAll');
						} else {
							window.top.showInfo(data.message);
						}
					});
				}
			});
		} else {
			window.top.showInfo("请选择要删除的数据！");
		}
	}
</script>
<script>
$(function () {
	$('#ClassInfo').datagrid( {
		fitColumns: true,
		rownumbers: true,
		pagination: true,
		striped: true,
		singleSelect: true,
		idField: 'Id',
		loadMsg: '班级加载中，请稍候...',
		url: '/classinfo/list.do',
		pageSize: 10,
		pageList: [4,5,10,20,30,50,100,200],
		title: '班级信息',
		queryParams: {},
		onLoadError: function (arguments) {
			var json = arguments.responseText; 
			window.top.showInfo(json);
		},
		onDblClickRow :function(rowIndex,rowData){
			var title='查看班级--' + rowData.username;
			showWindow(title, '/classinfo/getdetail.do?id='+rowData.id, 'icon-details','ClassInfo','datagrid',false);
		},
		onSelect:function (rowIndex, rowData){
		},
		onLoadSuccess:function (data){
			
		},
		onUnselect:function (rowIndex, rowData){
			
		},
		rowStyler: function(index, row){
			
		}
	});
});
</script>

</body>
</html>